body {
    font-family: serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    min-width: 50px;
}

th {
    background-color: #1abc9c; /* Мятный цвет */
    color: #ffffff;
}

tr:hover {
    background-color: #f1f1f1;
}

.delete-link {
    background-color: #dc3545; /* Красный цвет для удаления */
}

.delete-link:hover {
    background-color: #c82333; /* Темный красный при наведении */
}

.alert {
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
}

.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
}

.alert-danger {
    background-color: #f2dede;
    color: #a94442;
}

nav {
    display: flex;
    justify-content: center; /* Центрирование кнопок */
    background-color: #f4f4f4; /* Цвет фона для навигации */
    padding: 10px 0; /* Отступ сверху и снизу */
}

nav a {
    background-color: yellow; /* Цвет кнопок */
    color: black; /* Цвет текста */
    padding: 10px 20px; /* Внутренние отступы для кнопок */
    text-decoration: none; /* Убираем подчеркивание у текста */
    border-radius: 5px; /* Скругление углов */
    margin: 0 10px; /* Расстояние между кнопками */
    transition: background-color 0.3s; /* Плавный переход при наведении */
}

nav a:hover {
    background-color: #ffc107; /* Цвет кнопок при наведении (более темный желтый) */





