<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Добавить фильм</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Добавить фильм</h1>
<form action="#" th:action="@{/films/add}" th:object="${film}" method="post">
  <label for="name">Название:</label>
  <input type="text" id="name" th:field="*{name}" required/><br/>

  <label for="description">Описание:</label>
  <textarea id="description" th:field="*{description}" required></textarea><br/>

  <label for="duration">Длительность (мин):</label>
  <input type="number" id="duration" th:field="*{duration}" required/><br/>

  <label for="releaseDate">Дата выпуска:</label>
  <input type="date" id="releaseDate" th:field="*{releaseDate}" required/><br/>

  <label>Жанры:</label>
  <br/>
  <div>
  <th:block th:each="genre : ${allGenres}">
    <input type="checkbox" th:value="${genre.genreId}" th:name="genres"
           th:checked="${film.genres.contains(genre)}" />
    <label th:text="${genre.genre}"></label><br/>
  </th:block>
</div>
  <label>Добавить новый жанр:</label>
  <input type="text" id="newGenre" name="newGenre" placeholder="Введите новый жанр"/><br/>

  <label for="directorSelect">Режиссеры:</label><br/>
  <div>
    <select id="directorSelect" name="directors" multiple>
      <th:block th:each="director : ${allDirectors}">
        <option th:value="${director.directorId}"
                th:selected="${film.directors.contains(director)}"
                th:text="${director.name}"></option>
      </th:block>
    </select>
  </div>
  <label>Добавить нового режиссера:</label>
  <input type="text" id="newDirector" name="newDirector" placeholder="Введите имя режиссера"/><br/>

  <label for="actorSelect">Актеры:</label><br/>
  <div>
    <select id="actorSelect" name="actors" multiple>
      <th:block th:each="actor : ${allActors}">
        <option th:value="${actor.actorId}"
                th:selected="${film.actors.contains(actor)}"
                th:text="${actor.name}"></option>
      </th:block>
    </select>
  </div>
  <label>Добавить нового актера:</label>
  <input type="text" id="newActor" name="newActor" placeholder="Введите имя актера"/><br/>
  <button type="submit">Добавить фильм</button>
</form>
<a th:href="@{/films}">Назад к списку фильмов</a>
</body>
</html>


