<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить актера</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Добавить нового актера</h1>
<form action="/actors/add" method="post">
    <label for="name">ФИО:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Добавить актера</button>
</form>
<a href="/actors">Вернуться к списку актеров</a>
</body>
</html>

