<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавить режиссера</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Добавить нового режиссера</h1>
<form action="/directors/add" method="post">
  <label for="name">ФИО:</label>
  <input type="text" id="name" name="name" required>
  <button type="submit">Добавить режиссера</button>
</form>
<a href="/directors">Вернуться к списку режиссеров</a>
</body>
</html>
