<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавить жанр</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav>
  <a href="/films">Фильмы</a>
  <a href="/sessions">Сеансы</a>
  <a href="/tickets">Билеты</a>
  <a href="/users">Пользователи</a>
</nav>
<h1>Добавить новый жанр</h1>
<form action="/genres/add" method="post">
  <label for="genre">Название:</label>
  <input type="text" id="genre" name="newGenre" required>
  <button type="submit">Добавить жанр</button>
</form>
<a href="/genres">Вернуться к списку жанров</a>
</body>
</html>
